html {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 200vh;
  margin: 0;
}

main {
  height: 100%;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

/* ============ Srollbar ============ */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* ============ End Srollbar ============ */

.app__text-box {
  position: fixed;
  width: 100%;
  text-align: right;
  top: 110px;;
}

.app__cover {
  height: 100px;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  color: black;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.app__cover--top {
  text-align: right;
  top: 0;
}

.app__line {
  position: fixed;
}

.app__line--horizontal {
  border-bottom: 1px dashed black;
  height: 1px;
  top: 200px;
  left: 0;
}

.app__line--vertical {
  border-left: 1px dashed black;
  width: 1px;
  top: 0;
  left: 200px;
}

.app__dragging-element {
  width: 200px;
  height: 100px;

  background-color: cadetblue;

  position: absolute;
  top: 200px;
}

.dragging-element__vertical-line {
  top: 0;
  border-left: 1px dashed black;
  width: 1px;
}

.dragging-element__horizontal-line {
  left: 0;
  border-bottom: 1px dashed black;
  height: 1px;
}

.line__label {
  display: inline-block;
  position: absolute;
  pointer-events: none;

  width: 80px;
}

.line__label--vertical-clientY{
  width: 100px;
  top: 100px;

  transform: translateY(-50%);
}



