html {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 200vh;
  margin: 0;
}

main {
  height: 100%;
  background-color: #a2d5f2;
  color: #ffc93c;
}

.highlight {
  background-color: #40a8c4;
}

/* simulate scrolling area */
.app__cover {
  height: 100px;
  width: 100%;
  background-color:rgba(7,104,159, 0.8);
  color: rgba(0, 0, 0, 0.5);

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.app__cover--top {
  text-align: right;
  color: #ffc93c;
  top: 0;
}

.app__cover--top > .app__scroll-label {
  color: black;
  text-align: left;
  border-left: 1px dashed black;
  writing-mode: vertical-rl;
  text-orientation: mixed;

  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin-left: 10px;
}

/* end simulate scrolling area */

/* mousemove event dimensions */
.app__line {
  position: fixed;
}

.app__line--horizontal {
  border-bottom: 1px dashed black;
  height: 1px;
  top: 200px;
  left: 0;
}

.app__line--vertical {
  border-left: 1px dashed black;
  width: 1px;
  top: 0;
  left: 200px;
}

/* end mousemove event dimensions */

/* dragging element  */
.app__dragging-element {
  width: 300px;
  height: 100px;
  text-align: center;
  background-color: rgba(64,168,196, 0.7);
  color: #ffc93c;

  position: absolute;
  z-index: 10;
  top: 200px;
  left: 100px;

  display: grid;
  place-items: center;
}

.app__dragging-element > .dragging-element__dimensions {
  color: black;
}

.dragging-element__vertical-line {
  top: 0;
  border-left: 1px dashed black;
  width: 1px;
}

.dragging-element__vertical-line > .line__label {
  color: black;
  transform: translateY(-50%);
  width: 100px;
}

.dragging-element__horizontal-line {
  left: 0;
  border-bottom: 1px dashed black;
  color: black;
  height: 1px;
}

/* end dragging element  */

.app__text-box {
  position: fixed;
  width: 100%;
  text-align: right;
  top: 110px;;
}

.line__label {
  display: inline-block;
  position: absolute;
  left: 0;
  text-align: left;

  line-height: normal;
  pointer-events: none;
  width: 80px;
}

.line__label--vertical-clientY{
  width: 100px;
  top: 100px;

  transform: translateY(-50%);
}

.app_inner-height {
  position: fixed;
  top: 100px;
  right: 10px;
  width: 18px;
  height: 100%;
  border-right: 1px dashed black;
}

.app_inner-height > .inner-height__label {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  height: calc(100% - 120px);
  text-align: right;
}



